@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-feature-settings: 'cv11', 'ss01';
  }
}

@layer utilities {
  .font-serif {
    font-family: var(--font-cormorant), serif;
  }
  .font-sans {
    font-family: var(--font-inter), sans-serif;
  }
  .font-mono {
    font-family: var(--font-mono), monospace;
  }
}
